@import './reset';
@import './fonts';
@import './nav';

#drag-1 {
    padding: 2rem;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Muli";
    font-size: 5rem;
    text-transform: uppercase;

    &-sm {
        width: 60%;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
    }
}

.btn {
    margin-top: 2rem;
    text-decoration: none;
    color: #55A6DD;
    background: none;
    outline: none;
    border: none;
    transition: 0.8s ease-in-out;
    padding: 10px 20px;
    cursor: pointer;

    &-border {
        border: 1px solid #8186d5;
        border-radius: 20px;
    
        &:hover {
            background-color: #c6cbef;
            color: #fef;
        }
    }
}

.bg {
    &-light {
        background-color: #ececec;
    }
}

.p {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.icon {
    font-family: "Font Awesome";
    font-size: 1.2rem;
    color: #333;

    &-bottom {
        left: 50%;
        transform: translateY(-50%);
        bottom: 1rem;
    }

    &-animate-translateY {
        animation: shakeDown 1s infinite;
    }
}

@keyframes shakeDown {
    from, to { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(0, 4px, 0); }
}