@import './partials/variables';
@import './partials/reset';
@import './partials/fonts';
@import './partials/buttons';
@import './partials/inputs';
@import './partials/nav';
@import './partials/grid';
@import './partials/footer';

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Muli";
    font-size: 5rem;
    text-transform: uppercase;

    &-sm {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        z-index: 2;

        h1 {
            color: $lightgray;
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }

        p {
            color: $lightgray;
        }
    }

    &-fluid {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p {
            margin: 1rem 0;
        }
    }
}

.developer {
    &-text {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid #eee;        
    }

    &-image {
        align-self: flex-start;
        width: 8rem;
        border: 1px solid $lightgray;
        
    }

    &-icons {
        margin-top: 1rem;
        
        img {
            width: 30px;
            height: auto;
            margin-right: 4px;
        }
    }
}

.bg {
    &-light {
        background-color: #ececec;

        &__blue {
            background-color: $secondary;
        }
    }

    &-dark {
        background-color: #464646;
    }
}

.text {
    &-light {
        color: $lightgray;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.p {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.header-text {
    padding: 4rem 4rem;
    
    *:not(button), *:not(a), *:not(input[type=submit]), *:not(input[type=button]) {
        margin: 0;
    }

    p {
        margin-top: 1rem;
    }
}

.page {
    width: 100%;
    height: 100vh;
    
    &-content__center {
        display: grid;
        place-items: center;
    }

    &-main {
        position: relative;
        background-image: url('../img/background-default.jpeg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-gradient {
        background: linear-gradient(45deg, #4fc3f7, #29b6f6);
        opacity: 0.5;
    }

    &-dark {
        background-color: rgba(0,0,0,0.2);
    }

    &-light {
        &-green {
            background: linear-gradient(to bottom, #aed581ff, #aed581aa);
        }

        &-blue {
            background: linear-gradient(to bottom, #8186d5ff, #8186d5aa);
        }
    }
}

.icon {
    font-family: "Font Awesome";
    font-size: 1.2rem;
    color: $green;
    cursor: pointer;

    &-bottom {
        left: 50%;
        transform: translateY(-50%);
        bottom: 1rem;
    }

    &-animate-translateY {
        animation: shakeDown 1s infinite;
    }
}

@keyframes shakeDown {
    from, to { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(0, 4px, 0); }
}

@media screen and (max-width: 600px) {
    header {
        nav {
            span {
                font-size: 1rem;
            }

            li {
                font-size: .8rem;
            }
        }
    }

    .container {
        &-sm {
            width: 90%;

            h1 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .grid {
        &-features {
            display: block;
            padding-left: 4rem;
            padding-right: 4rem;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }

        &-developers {
            display: block;
            padding: 1rem;
            
            p {
                font-size: .8rem;
            }
        }

        &-developer {
            padding: 1rem;

            .icon-container {
                margin-top: 1rem;
            }
        }

        &-developer:nth-child(1) {
            margin-bottom: 1rem;
        }
    }

    .developer {
        &-text {
            padding-bottom: .5rem;
            margin-bottom: .5rem;

            h3 {
                font-size: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }
    }

    .header-text {
        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: .8rem;
        }
    }

    .feature {
        padding: 1rem 0;
    }

    .feature:not(:nth-child(1)) {
        border-top: 1px solid #ececec;
    }

    footer {
        text-align: center;
    }

    .form {
        &-login {
            padding: 0;
        }
    }
}