footer {
    padding: 2rem 4rem;

    p {
        color: $lightgray;
    }

    .footer-icons {
        margin-top: 1rem;

        .footer-icon {
            width: 30px;
            height: auto;
            margin-right: 4px;
        }
    }
}

.bg-dark {
    background-color: #464646;
}