@import './fonts';
@import './variables';

/*.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px 4px 4px 10px;
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 0;

    thead, tfoot {
        text-transform: uppercase;
        background-color: $secondary;
        font-size: .8rem;
        color: $white;

        tr {
            td {
                padding: 10px;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: .9rem;
                padding: 4px 4px 4px 10px;
            }

            &:nth-child(even) {
                background-color: #efefef;
            }
        }
    }
}*/

.table {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    background-color: $white;
    text-align: left;
    margin-top: 1rem;

    th, td {
        padding: 8px 14px;
        font-weight: 400;
    }

    tr:nth-child(even) {
        background-color: #efefef;
    }

    thead, tfoot {
        background-color: $secondary;
        color: $white;
        font-weight: 400;
        font-size: .8rem;
        text-transform: uppercase;
    }

    &-paginations {
        margin-top: .5rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}